<!-- Load header -->
<%- include('../partials/header'); %>

<body onload = "loadAllCards()">

  <!-- Navbar which can be reused across other pages -->
  <%- include('../partials/navbar'); %>

  <!-- Cards -->

    <!-- Script for qcards -->
    <%- include("../scripts/card-logic"); %>
  
  <div class="q-container">

    <!-- CARD 1 (Container)-->
     <div class = "card-container"> 
      <!--Card 1 card-->
      <div class="q-card" id = "card1">
        <h2 class = "q-content" id = "card1-q"> </h2>
        <div class="q-footer" id = "card1-footer">
          <button class="q-heat-tag" id = "card1-heat"> </a>
          <button class="q-theme-tag" id = "card1-theme"> </p>
        </div>
      </div>   
      <!-- Card 1 sidebar -->
      <div class= "card-sidebar">
        <button class = "refresh_btn" id="card1_refresh" onclick = "flipCard('card1')"> <i class="fa fa-refresh" aria-hidden="true"></i></button>
      </div>
     </div>
 
    <!-- CARD 2 (Container)-->
    <div class = "card-container"> 
      <!--Card 2 card-->
      <div class="q-card" id = "card2">
        <h2 class = "q-content" id = "card2-q"> </h2>
        <div class="q-footer" id = "card2-footer">
          <button class="q-heat-tag" id = "card2-heat"> </a>
          <button class="q-theme-tag" id = "card2-theme"> </a>
        </div>
      </div>  
      <!-- Card 2 sidebar -->
      <div class= "card-sidebar">
        <button class = "refresh_btn" id="card2_refresh" onclick = "flipCard('card2')"> <i class="fa fa-refresh" aria-hidden="true"></i></button>
      </div>
    </div>

</div>

    <div class="main">
      <div id="message" style="margin-top: 20px; font-size: 24px;"></div>
    </div>

<!-- Slider -->
<div class="slidecontainer">
  <input type="range" min="0" max="100" step="25" class="slider" list="steplist" id = "myRange">
  <datalist id="steplist">
      <option>0</option>
      <option>25</option>
      <option>50</option>
      <option>75</option>
      <option>100</option>
  </datalist>
</div>

<p id = "demo"> </p>

<script>
  var slider = document.getElementById("myRange");
  var output = document.getElementById("demo");
  output.innerHTML = slider.value; // Display the default slider value

  // Update the current slider value (each time you drag the slider handle)
  slider.oninput = function() {
    output.innerHTML = this.value;
  }
</script>


<!-- Control buttons -->
<button onclick = "allActive()">Select All</button>
<button onclick = "noneActive()">De-select All</button>

<div id="myBtnContainer">
  <% card_themes.forEach(theme => { %>
    <button class="theme-card active" onclick = "toggleActive(this)" ><%= theme.theme %></button>
  <% }); %>
</div>

<script>
  
function toggleActive(target) {
  if (target.classList.contains("active")) {
      target.classList.remove("active");
    } else {
      target.className += " active";
    }
}

function noneActive() {
  var all_cards = document.getElementById("myBtnContainer").getElementsByClassName("theme-card");
  for (var i = 0; i < all_cards.length; i++) {
    if (all_cards[i].classList.contains("active")) {all_cards[i].classList.remove("active")};
  }
}

function allActive() {
  var all_cards = document.getElementById("myBtnContainer").getElementsByClassName("theme-card");
  for (var i = 0; i < all_cards.length; i++) {
    if (all_cards[i].classList.contains("active")) {all_cards[i].classList.remove("active")};
    all_cards[i].className += " active";
    };
  }


</script>

</body>
</html>

