<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Cards</title>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BLP5YBWJCR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-BLP5YBWJCR');

    </script>

  <!-- Link to Custom CSS -->
  <link href="/styles/qcards.css" rel="stylesheet" />

</head>

<body>
  <!-- Navbar which can be reused across other pages -->
  <%- include('../partials/navbar'); %>

  <!-- Cards -->
  <div class="row">
    <!-- Card 1 -->
     <div class="q-card">
       <div class="q-content">
         <h1 class= "card-q"><%=card.question %></h1>
       </div>
       <div class="q-footer">
         <button class="q-heat-tag"><%=card.heat %></a>
         <button class="q-theme-tag"><%=card.theme %></a>
       </div>
     </div>
   </div>

   <form action="" method="POST">
    <input type="submit" value="Generate Name">
  </form>


<!-- Slider -->
<div class="slidecontainer">
  <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
  
</div>

<script>
  var slider = document.getElementById("myRange");
  var output = document.getElementById("demo");
  output.innerHTML = slider.value; // Display the default slider value

  // Update the current slider value (each time you drag the slider handle)
  slider.oninput = function() {
    output.innerHTML = this.value;
  }
</script>



</body>
</html>

