<!-- Load header -->
<%- include('../partials/header'); %>

<body onload = "loadAllCards()">

  <!-- Navbar which can be reused across other pages -->
  <%- include('../partials/navbar'); %>

  <!-- Collapsible Filters -->
  <%- include('../partials/filters'); %>

  <div class = "play-btn-container" style = "margin-bottom: 2em">    
    <button type = "button" class ="play-btn" onclick = "applyFilters()">Apply filters</button>
  </div>
  
  </div> <!-- close collapsible div MUST INCLUDE WITH filters.ejs -->

  <!-- Cards -->

    <!-- Script for qcards -->
    <%- include("../scripts/card-logic"); %>
  
  <div class="q-container">

    <!-- CARD 1 (Container)-->
     <div class = "card-container"> 
      <!--Card 1 card-->
      <div class="q-card" id = "card1">
        <h2 class = "q-content" id = "card1-q"> </h2>
        <div class="q-footer" id = "card1-footer">
          <button type = "button" class="q-heat-tag" id = "card1-heat"> </a>
          <button type = "button" class="q-theme-tag" id = "card1-theme"> </p>
        </div>
      </div>   
      <!-- Card 1 sidebar -->
      <div class= "card-sidebar">
        <button type = "button" class = "refresh_btn" id="card1_refresh" onclick = "flipCard('card1')"> <i class="fa fa-refresh" aria-hidden="true"></i></button>
      </div>
     </div>
 
    <!-- CARD 2 (Container)-->
    <div class = "card-container"> 
      <!--Card 2 card-->
      <div class="q-card" id = "card2">
        <h2 class = "q-content" id = "card2-q"> </h2>
        <div class="q-footer" id = "card2-footer">
          <button type = "button" class="q-heat-tag" id = "card2-heat"> </a>
          <button type = "button" class="q-theme-tag" id = "card2-theme"> </a>
        </div>
      </div>  
      <!-- Card 2 sidebar -->
      <div class= "card-sidebar">
        <button type = "button" class = "refresh_btn" id="card2_refresh" onclick = "flipCard('card2')"> <i class="fa fa-refresh" aria-hidden="true"></i></button>
      </div>
    </div>

</div>

<!-- Instructions -->
 <div class = "about-container" style = "text-align:center">
  <h3>Welcome to the izzyQ generator!</h3>
  <p>izzyQ provides two icebreaker questions at a time. We recommend allowing participants to choose to answer either question.</p>
  <p>Click on   <i class="fa fa-refresh" aria-hidden="true" style = "color: darkgray"></i>   to get a new card. Filter card options above.</p> 


</body>
</html>

