<!-- Load header -->
<%- include('../partials/header'); %>

<body>

  <!-- Navbar which can be reused across other pages -->
  <%- include('../partials/navbar'); %>

  <!-- Cards -->

    <!-- Script for qcards -->
    <%- include("../scripts/card-logic"); %>

  <div class="q-container">
    <!-- Card 1 -->
     <div class="q-card">
       <div class="q-content">
         <h1 class= "card-q" id = "card1-q">test</h1>
       </div>
       <div class="q-footer">
         <button class="q-heat-tag" id = "card1-heat">test</a>
         <button class="q-theme-tag" id = "card1-theme">test</a>
       </div>
     </div>
   </div>

    <button id="Card 1" onclick = "changeCard('card1')"> Change Card 1</button>
    <div class="main">
      <div id="message" style="margin-top: 20px; font-size: 24px;"></div>
    </div>

<!-- Slider -->
<div class="slidecontainer">
  <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
  
</div>

<script>
  var slider = document.getElementById("myRange");
  var output = document.getElementById("demo");
  output.innerHTML = slider.value; // Display the default slider value

  // Update the current slider value (each time you drag the slider handle)
  slider.oninput = function() {
    output.innerHTML = this.value;
  }
</script>



</body>
</html>

