<!-- Load header -->
<%- include('../partials/header'); %>

<body onload = "loadAllCards()">

  <!-- Navbar which can be reused across other pages -->
  <%- include('../partials/navbar'); %>

  <!-- Cards -->

    <!-- Script for qcards -->
    <%- include("../scripts/card-logic"); %>
  
  <div class="q-container">

    <!-- CARD 1 (Container)-->
     <div class = "card-container"> 
      <!--Card 1 card-->
      <div class="q-card" id = "card1">
        <p class = "q-id" id = "card1-id" hidden>test</p>
        <h2 class = "q-content" id = "card1-q">test</h2>
        <div class="q-footer" id = "card1-footer">
          <button class="q-heat-tag" id = "card1-heat">test</a>
          <button class="q-theme-tag" id = "card1-theme">test</a>
        </div>
      </div>   
      <!-- Card 1 sidebar -->
      <div class= "card-sidebar">
        <button class = "refresh_btn" id="card1_refresh" onclick = "flipCard('card1')"> <i class="fa fa-refresh" aria-hidden="true"></i></button>
      </div>
     </div>
 
    <!-- CARD 2 (Container)-->
    <div class = "card-container"> 
      <!--Card 2 card-->
      <div class="q-card" id = "card2">
        <p class = "q-id" id = "card2-id" hidden>test</p>
        <h2 class = "q-content" id = "card2-q">test</h2>
        <div class="q-footer" id = "card2-footer">
          <button class="q-heat-tag" id = "card2-heat">test</a>
          <button class="q-theme-tag" id = "card2-theme">test</a>
        </div>
      </div>  
      <!-- Card 2 sidebar -->
      <div class= "card-sidebar">
        <button class = "refresh_btn" id="card2_refresh" onclick = "flipCard('card2')"> <i class="fa fa-refresh" aria-hidden="true"></i></button>
      </div>
    </div>

</div>

    <div class="main">
      <div id="message" style="margin-top: 20px; font-size: 24px;"></div>
    </div>

<!-- Slider -->
<div class="slidecontainer">
  <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
  
</div>

<script>
  var slider = document.getElementById("myRange");
  var output = document.getElementById("demo");
  output.innerHTML = slider.value; // Display the default slider value

  // Update the current slider value (each time you drag the slider handle)
  slider.oninput = function() {
    output.innerHTML = this.value;
  }
</script>



</body>
</html>

