<!-- Load header -->
<%- include('../partials/header'); %>


<body>

<div class="hero-container">
  <div class="hero-logo">
    <img class = "logo-img" src="/images/logo.svg" />
  </div>
  <div class="hero-text">
    <h1>Hi, I'm Izzy!</h1>
    <p>And I love helping people break the ice!</p>
    <div class = "hero-buttons">
      <a href="/cards"><button class="main_btn">Get questions!</button></a>
      <button type="button" class="main_btn">Default</button>
    </div>
  </div>
</div>

</body>

