<!-- Load header -->
<%- include('../partials/header'); %>


<body>

<div class="hero-container">
  <div class="hero-logo">
    <img class = "logo-img" src="/images/logo.svg" />
  </div>
  <div class="hero-text">
    <h1>Hi, I'm Izzy!</h1>
    <p>And I love helping people break the ice!</p>
    <div class = "hero-buttons">
      <a href="/cards"><button class="main_btn">Launch izzyQ generator</button></a>
      <button type="button" class="main_btn">Default</button>
    </div>
  </div>
</div>

<footer>
  <p>Disclaimer:
    This website is created for learning purposes only. The information provided here should not be considered professional advice. Please note that we make no guarantees regarding the accuracy, completeness, or reliability of the contents of this website. Any actions you take based on the contents of this website are at your own risk. We are not liable for any losses or damages incurred from the use of this website.</p>
</footer>

</body>

