<!-- Load header -->
<%- include('../partials/header'); %>

<body onload = "run()">
  <!-- Link to table styles -->
  <link href="/styles/list.css" rel="stylesheet" />

  <!-- Navbar which can be reused across other pages -->
  <%- include('../partials/navbar'); %>

  <div class = "about-container">
    <h2> izzyLists</h2>
  </div>

  <div class = "about-container">
    <h3>Welcome to the izzyList generator!</h3>
    <p>Here you can generate a list of ice-breakers based on selected theme packs, and heat tags.</p>
  </div>



  <!-- Filters -->
  <%- include('../partials/filters'); %>

  <!-- Load DB logic -->
  <%- include('../scripts/db-logic'); %>

  <script>
    function run() {
      var active_db = filterDB(db, "theme"); //filter by theme
      active_db = filterDB(active_db, "heat"); //filter by heat

      active_db.sort(function (a, b) {
        if (a.theme === b.theme) {
          // Heat is only important when themes are the same
          return b.heat - a.heat;
        }
        return a.theme > b.theme ? 1 : -1;
      });

      console.log(active_db);

      const tableBody = document.querySelector("tbody");
      tableBody.innerHTML = "";
      for (var i = 0; i < active_db.length; i++) {
        card = active_db[i];
        var card_heat_tag = card.heat;

        switch(card_heat_tag){
          case 1: 
            card_heat_tag =("Cool");
            break;
          case 2: 
            card_heat_tag =("Warm");
            break;
          case 3: 
            card_heat_tag =("Hot");
            break;
        };
        tableBody.innerHTML += `<tr>
                                  <td>${i + 1 || ""}</td>
                                  <td>${card.question || ""}</td>
                                  <td>${card.theme || ""}</td>
                                  <td>${card_heat_tag || ""}</td>
                                </tr>`;
      }
    }
  </script>

<div class = "play-btn-container" style = "margin-bottom:2em">    
  <button type = "button" onclick="run()" class = "play-btn">Apply Filters</button>
</div>

<div class = "about-container" >
    <!-- Table -->
    <table class = "output-table">
      <thead>
        <tr class ="output-table-row">
          <th>S/N</th>
          <th>Question</th>
          <th>Theme</th>
          <th>Heat-tag</th>
        </tr>
      </thead>
      <tbody>
        <tr class ="output-table-row"></tr>
      </tbody>
    </table>
</div>



</body>
