<!-- Load header -->
<%- include('../partials/header'); %>

<body>
  <!-- Load form styles-->
  <link href="/styles/new.css" rel="stylesheet" />

  <!-- Load Card logic to update cardform -->
  <%- include('../scripts/card-logic'); %>

  <!-- Navbar which can be reused across other pages -->
  <%- include('../partials/navbar'); %>

<body>
  <div class = "about-container">
    <h2> Add izzyQs</h2>
  </div>

  <div class = "about-container">
    <h3> Create your own izzyQ ice-breaker!</h3>
    <p>This is a card creator where you can add new questions to the izzyQ app, for other izzyQ users to enjoy!</p>
    <p><b>The theme is fixed as "Pal Qs"</b>, to reflect these as questions added by Izzy's pals (that's you!) , rather than Izzy herself.</p>
    <p>Enter your question in the card below, then give your question <a href = "about/#about-heat-tag-ref">a heat tag</a>.</p>
  </div>

  <div class = "about-container" style = "padding:0px;" >
    <form method="post">
    <div class = "form-container">
    <!-- Form to submit a new post -->
      <div class="newq-card" id="form_card">
       <textarea
          name="question"
          placeholder="Type your question here..."
        ></textarea>
        <div class="newq-footer" id="form_card-footer">
          <button type = "button" class="q-heat-tag" id = "form_card-heat">
            <img class = 'theme-icon' src = 'images/heat_icons/heat_1.svg'>
          </a>
          <button type = "button" class="new-theme">Theme: Pal Qs</a>
            <input type="radio" value = "Pal Qs" checked="checked" name="theme" hidden>
            
        </div> 
      </div> 
    <div class = "form-sidebar">
      <h3>Select heat tag</h3>
      <label class="radio-container">Cool
      <input type="radio" value = "1" checked="checked" name="heat" onchange="changeCardForm()">
      <span class="checkmark"></span>
    </label>
    <label class="radio-container">Warm
      <input type="radio" value = "2" name="heat" onchange="changeCardForm()">
      <span class="checkmark"></span>
    </label>
    <label class="radio-container">Hot
      <input type="radio" value = "3" name="heat" onchange="changeCardForm()">
      <span class="checkmark"></span>
    </label>
  </div>
</div>

<div class = "about-container" style = "text-align:left; margin-bottom:20px; margin-top:20px">
  <input type = "submit" class ="play-btn" value="Submit Question"/>
</div>
  </form>
  
  </div>

  <script>
    function changeCardForm(){
      selected_heat_tag = parseInt(document.querySelector('input[name="heat"]:checked').value);
      heat_colors = getHeatColors(selected_heat_tag);
      heat_icon = "<img class = 'theme-icon' src = 'images/heat_icons/heat_"+selected_heat_tag+".svg'>"

    //Change colors
    document.getElementById("form_card").style.backgroundColor = heat_colors[1];
    document.getElementById("form_card" + '-footer').style.backgroundColor = heat_colors[2];
    document.getElementById("form_card" + '-heat').innerHTML = heat_icon;


    };
  </script>

  <div class = "about-container" >
    <div class = "tip-box">
      <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i><b> Tip:</b></p>
      <p>If your question involves <span style = "color:#59885D; font-weight: 500" >stating facts</span>, then its heat tag should be <span style = "color:#59885D; font-weight: 500">"Cool"</span>. </p>
      <p>If your question involves forming a <span style = "color:#377274; font-weight: 500">snap judgment</span>, then its heat tag should be <span style = "color:#377274; font-weight: 500">"Warm"</span>. </p>
      <p>If your question involves forming a <span style = "color:#b78070; font-weight: 500">careful opinion</span>, its heat tag should be <span style = "color:#b78070; font-weight: 500">"Hot"</span>. </p>

    </div>
  </div>

  

</body>
