<!-- Load header -->
<%- include('../partials/header'); %>

<!-- Instructions -->
<div class = "about-container" style = "text-align:center; margin-top: 10em">
    <h3>Thanks for submitting your question!</h3>
    <p>Click on the button below to return to the izzyQ home page, then launch either the izzyQ or izzyLists app to start using your question. It should be under the theme pack "Pal Qs".</p> 
  </div>

<div class ="about-container" style = "text-align:center; padding-left: 8em; padding-right: 8em">
    <a href="/"><button type = "button" class="main_btn">Return to Home</button></a>
</div>