.filter-container {
  display: flex;
  font-size: 30px;
  align-items: flex-start;
}


.filter-inner-container {
  flex: 50%;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  gap: 10px; 
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0px; 
}

.theme-wrapper {
  margin-left: 2em;
}

@media (max-width: 800px) {
  .filter-container {
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
  }

  .theme-wrapper {
    margin-left: 1.5em;
  }

}

.filter-inner-container h3 {
  font-size: 24px;
  margin-bottom: 0px; 
}

.filter-inner-container a {
  margin-top: 1em; 
  font-size: 14px; 
}


.filter-cards-grp{
  height: 60%;
  gap: 0.5em; 
  display: flex; 
  flex-wrap: wrap;
  align-content: space-evenly;

}

.filter-container #filter-heat {
  flex: 30%;
  display: flex; 
  flex-wrap: wrap;
  flex-direction: column; 
  align-content: space-evenly;
  gap: 10px; 
}

  /* Style the buttons */
  .card-btn {
    border: 2px solid #dbdad8;
    color: white; 
    background-color: #dbdad8;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;  
    cursor: pointer;
    border-radius: 15px; 
    font-family: "Geist";
    font-size: 15px;
  }
  
  /* Add a light grey background on mouse-over */
  .card-btn:hover, .card-btn.active {
    background-color: #553555;
    color: white;  
    border-color: #553555
  }

  .card-btn.active:hover {
    background-color: #3b253b;
    color: white;
  }

  #heat-cards img {
    height : 100%; 
    padding: 0px;
    margin: 0px; 
  }

  #heat-cards .card-btn {
    padding: 0px;
    margin: 0px; 
    width: 80px;
    height: 48px; 
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #dbdad8;
    background-color: #dbdad8;
  }

  #heat-card-1:hover, #heat-card-1.active, #heat-card-1.static {
    background-color:#72a276;
    border-color:#72a276;

  }

  #heat-card-1.active:hover {
    background-color:#59885D;
  }

  #heat-card-2:hover, #heat-card-2.active, #heat-card-2.static {
    background-color: #448C90; 
    border-color: #448C90; 
  }

  #heat-card-2.active:hover {
    background-color:#377274;
  }
  
  #heat-card-3:hover, #heat-card-3.active, #heat-card-3.static   {
    background-color: #D79784;  
    border-color: #D79784;
  }
  
  #heat-card-3.active:hover {
    background-color:#b78070;
  }


  .static {
    cursor: auto; 
  }

  .label, .label:hover {
    width: 80px; 
    background-color: transparent;
    border: transparent;
    cursor: auto; 
    text-align: center; 
    padding: 0px; 
    margin-top: 10px; 
  }

.selector-btn-grp button {
  background-color: #bdbcb6; /* Green background */
  border: 1px solid #8b8b8a; /* Green border */
  color: #f4f3ee; /* White text */
  padding: 5px 15px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.selector-btn-grp button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.selector-btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.selector-btn-grp button:hover {
  background-color: #8b8b8a;
}


/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #E7E4DA;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  font-family: "Geist"
}

.collapsible:after {
  margin-left: 5px;

  content: "Open Filters \02795"; /* Unicode character for "minus" sign (-) */
  color: #444;
  font-size: 15px;
  font-family: "Geist"
}

.open:after {
  content: "Close Filters \2796"; /* Unicode character for "minus" sign (-) */
  color: #444;
  font-size: 15px;
  font-family: "Geist"
}

/* Add a background color to the button if it is clicked on (add the .open class with JS), and when you move the mouse over it (hover) */
.open, .collapsible:hover {
  background-color: #d1cfc6;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  background-color: #EFEDE6;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.play-btn-container{
  display:flex ;
  align-items: center;
  justify-content: center;
  margin: 1em; 
  margin-bottom: 0px; 
  padding-bottom: 0px; 

}

.play-btn {
  background-color: #aaa8a1;
  border-radius: 40px;
  border: none;
  color: white;
  padding: 11px 30px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px; 
  cursor: pointer;
  
}

.play-btn:hover{
  background-color: #8c8b85;
  color: #444;
  
}

