
* {
  box-sizing: border-box;
}

body {
  background-color: #f4f3ee;
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.hero-container {
  margin-top: 60px; 
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  align-items: center;
}

.hero-logo {
  flex: 40%;
  padding: 20px;
  display: flex; 
  justify-content: flex-end;
  align-items: center;

}

.logo-img {
  fill: #388697; 
  max-width : 75%; 
  vertical-align:middle;
  padding-right: 5px; 
}

.hero-text {
  padding: 1em; 
  flex: 60%;
  justify-text: center;

}

h1 {
  font-size: 60px; 
  margin-bottom: 5px; 
}
.hero-text > p {
  margin-top: 5px; 
  font-size: 24px; 
}

.hero-buttons {
  justify-content: center;
  display: flex; 
  flex-direction: column;
  width: 60%; 
}



.main_btn {
  background-color: #388697;
  border-radius: 40px;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px; 
  margin: 4px 2px;
  width: 100%; 
}

.main_btn:hover {
  background-color: #5BAFC2;
}


footer {
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 50px; 
  font-size: 14px; 
  color: darkgrey;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {

  .hero-container {
    margin-top: 30px; 
    flex-direction: column; 
  }

  .hero-logo {
    justify-content: center;

  }

  .hero-text {
    text-align: center; 

  }

  .hero-logo{
    padding: 0px;
  }

  .logo-img{
    height: 200px ; 
  }

  .hero-buttons {
    width: 100%; 
  }

  h1 {
    margin-top:0px; 
    font-size: 46px; 
  }
  .hero-text > p  {
    font-size: 20px; 
  }

  .main_btn {
    font-size: 16px; 
  }
  
  footer {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10px; 
  }

}



