body {
    background-color: #f4f3ee;
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.q-container {
    padding:2rem; 
    /* add flexbox rules */
    display: flex;
    flex-wrap: row;
    align-items: stretch;
    justify-content: space-evenly;
    gap: 2rem;
  }

  .q-card {
    flex: 0 1 48% ; 
    max-width: 400px; 
    background-color: #72a276;
    border-radius: 20px;
    display: flex; 
    flex-direction: column; 

  }

  .q-content {
    margin: auto;
    text-align: center;
    padding: 20px;
    font-size: auto;
    color: #f4f3ee;
  }

  .q-footer {
    padding: .75rem 1.25rem;
    background-color: #0b6a11;
    min-width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    /* ensure width includes padding */
    margin-top: auto; 
    box-sizing: border-box; 
    /* add flexbox rules */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .q-heat-tag {
    color: #fff;
    background-color: transparent;
    border: none;
  }

  .q-theme-tag {
    color: blue;
    background-color: transparent;
    border: none;
  }


  @media (max-width: 800px) {
    .q-container {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-evenly;
      gap: 2rem;
    }
  }